<!-- <p>{{parentArray}}</p> -->

 





 <!-- <table style="width: 400px;">
    <thead>
    <tr>
        <th>name</th>
        <th>age</th>
        <th>actions</th>
    </tr>
</thead>
<tbody>
    <tr  *ngFor = "let data of parentArray; first as isFirst; last as isLast; index as i ">
      <td *ngIf = "firstItem; else elseBlock">{{data}}</td>
      <ng-template #elseBlock>
      <td >{{data}}</td>
    </ng-template>
      <td ><button id="del" (click) = "remove(i)" >Delete</button> <button id="edit">Edit</button></td>
     </tr>
  </tbody>
</table>  -->





<!-- <table style="width: 400px;">
    <thead>
    <tr>
        <th>name</th>
        <th>age</th>
        <th>actions</th>
    </tr>
</thead>
<tbody>
    <tr  *ngFor = "let data of parentArray; let i = index">
      <td>{{data.name}}</td>
      <td>{{data.age}}</td>
      <td ><button id="del" (click) = "remove(i)" >Delete</button> <button id="edit">Edit</button></td>
     </tr>
  </tbody>
</table> -->


